# Build directories
build/
out/

# VS Code
.vscode/

# Compiled binaries
*.exe
*.dll
*.so
*.dylib
*.out
*.app

# Object files
*.o
*.obj

# Debug files
*.pdb
*.idb
*.ilk
*.log

# CMake cache
CMakeCache.txt
CMakeFiles/

# Precompiled headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Linker output
*.map
*.exp

# Misc
*.d
*.elf
*.hex
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf